.detailMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--Shiro);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container .header{
    font-family: var(--font-heading);
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    color: var(--Kuro);
}

.detailMenu .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tag1, .tag2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    background-color: var(--Aka);
    margin: 10px;
    width: 15%;
    height: 300px;
    text-align: center;
}

.tagTitle{
    font-family: var(--font-heading);
    font-weight: bold;
    font-style: normal;
    font-size: 2rem;
}

.tagDescription{
    font-family: var(--font-body);
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--Shiro);
    margin-top: 10px;
}

.tagBtn{
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--Kuro);
    color: var(--Shiro);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.tagBtn:hover{
    background-color: var(--Shiro);
    color: var(--Kuro);
}