.slide{
    position: relative;
    top: 250px;
    left: 50%;
}
.container{
    position: absolute;
    transform: translate(-50%,-50%);
    width:1000px;
    height:450px;
    padding:50px;
    overflow: hidden;
}

#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:400px;
    height:280px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: 200%;
    position: absolute;
    z-index: 1;
}
.item:nth-child(1){
    transform: translate(-150%);
    background-position: 0% 50%;
    opacity: 0;
}
.item:nth-child(2){
    transform: translate(-40%);
    background-position: 20% 50%;
}
.item:nth-child(3){
    transform: translate(70%);
    background-position: 50% 50%;
}
.item:nth-child(4){
    transform: translate(180%);
    background-position: 80% 50%;
}
.item:nth-child(n+5){
    transform: translate(290%);
    background-position: 100% 50%;
    opacity: 0;
}
.buttons{
    position: absolute;
    top:30px;
    text-align: left;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}

.buttons button:hover{
    background-color: #bac383;
}