.sidebar{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--Kuro);
    padding: 2rem;
    border: 2px solid var(--Kuro);
    border-radius: 20px;
    margin-top: 10px;

}

.mealsList{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    list-style: none;
    font-family: var(--font-heading);
    font-weight: bold;
    font-style: initial;    
    color: var(--Midori);
    gap: 30px;
    font-size: 1.5rem;
}

.menuSelection{
    cursor: pointer;
}

.selected{
    color: var(--Shiro);
}