.topTitle{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    background-color: var(--Kuro);
    padding: 0px 0px 10px 6.5rem;
}

.menuTitle{
    font-size: 2rem;
    font-weight: 600;
    color: var(--Shiro);
    font-family: 'Gasoek One', sans-serif;
    font-weight: 100px;
    font-style: normal;
}
