.footer{
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: var(--Aka);
    color: var(--Shiro);
    /* padding: 100px 0px; */
}

.footerContent{
    font-size: 1rem;
    font-weight: bold;
}
.footerLeft{
    height: 100%;
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px 30px 40px 50px;
}

.footerCenter{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footerRight{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 10px 30px;
    width: 20%; /* Thêm dòng này, điều chỉnh theo ý bạn */
    box-sizing: border-box;
}

.signUp{
    margin-bottom: 10px;
}

.inputContainer input{
    width: 150px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.footerContent button{
    background: none;
    border: none;
    color: white;
    font-size: 0.8rem;
}

input {
    width: 150px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 0.8rem;
    color: white;
    padding: 5px 10px;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Light red placeholder */
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gasoek One', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e00000;
    text-decoration: none;
}

.footerLogo{
    font-size: 1.5rem;
    color: var(--Shiro);
}

.footerIcon{
    display: flex;
    font-size: 1.3rem;
    width: 80%;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    color: var(--Shiro);
    margin-top: 32px;
}

.successMsg {
    width: 100%;
    font-size: 0.8rem;
    margin-top: 10px;
    word-break: break-word;
    text-align: center;
}